<html>
<head>
<title>Google Authentication </title>
</head>
<link rel="stylesheet" href="/ftp/templates/cssFile.css">
<script type="text/javascript" src="/ftp/js/firebaseConfig.js"></script>
<body>
  
<div id="login-box">
  <div class="or">
    
    <button class="social-signin google" id='login'>Log in with Google</button>
  </div>
</div>
</body>

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.4.1/firebase-app.js";
  import { getAuth ,GoogleAuthProvider, signInWithRedirect, getRedirectResult, signInWithPopup, signOut } from "https://www.gstatic.com/firebasejs/9.4.1/firebase-auth.js";

  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const auth = getAuth(app);
  const provider = new GoogleAuthProvider(app);


login.addEventListener('click',(e) => {


// sign in with popup tab
signInWithPopup(auth, provider)
  .then((result) => {
    // This gives you a Google Access Token. You can use it to access the Google API.
    const credential = GoogleAuthProvider.credentialFromResult(result);
    const token = credential.accessToken;
    // The signed-in user info.
    const user = result.user;
    console.log(user);
    window.location = `https://chessgame-backend.herokuapp.com/successLogin?username=${user.displayName}&email=${user.email}`
    // ...
  }).catch((error) => {
    // Handle Errors here.
    const errorCode = error.code;
    const errorMessage = error.message;
    // The email of the user's account used.
    const email = error.email;
    // The AuthCredential type that was used.
    const credential = GoogleAuthProvider.credentialFromError(error);
    // ...
    window.location = `https://chessgame-backend.herokuapp.com/app/login`
    alert(errorMessage);
  });
});

// signOut.addEventListener('click',(e) => {

//     signOut(auth).then(() => {
//     // Sign-out successful.
//     }).catch((error) => {
//     // An error happened.
//     });

// });

</script>

</html>